main {
  margin: 10px;
}

.title-page {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0 20px;
}

.btn {
  border: 1px solid transparent;
  font-family: "Bree-Serife";
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
}
.btn-back {
  background-color: #4caf50;
}

.btn-back:hover {
  background-color: #3e8f41;
  color: white;
}

.btn-delete {
  background-color: #f44336;
}

.btn-delete:hover {
  background-color: #ca3b31;
  color: white;
}
.title-section {
  margin: 15px 0 10px;
}

th {
  padding-bottom: 5px;
  border-bottom: 2px solid #a2cfa2;
}

td,
td {
  border-bottom: 2px solid #a2cfa2;
  border-top: 2px solid #a2cfa2;
}

.items img {
  width: 30px;
}
