main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/singupBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Bree-Serif";
  font-size: 2.5em;
  margin: 10px 0 0;
  color: green;
}

.msg-contain {
  background-color: #e2f5eb9b;
  margin-top: 30px;
  width: 650px;
  max-width: 100vw;
  padding: 20px;
  border-radius: 10px;
  font-family: Arvo;
  font-size: 1.47rem;
}
.msg-contain p {
  color: #586068;
  margin-bottom: 5px;
}

.msg-contain a {
  margin-top: 10px;
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
}
.msg-contain a:hover {
  text-decoration: underline;
}
